custom-vote form {
  display: flex;
  flex-wrap: wrap;
}
custom-vote div {
  flex-basis: 100%;
}
custom-vote svg {
  width: .8em;
  height: .8em;
  fill: currentColor;
  stroke: currentColor;
}

.stars-cont label {
  display: block;
  float: left;
  font-size: 2em;
  height: 1.2em;
  color: #e3c903;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.stars-cont input[checked="true"] ~ label {
  color: #666;
}

.stars-cont input[checked="true"] + label {
  color: #e3c903;
  border-bottom-color: #e3c903;
}

.stars-cont input:focus + label {
  border-bottom-style: dotted;
}

.stars-cont input:hover + label {
  color: #e3c903;
}

.stars-cont input:hover ~ label,
.stars-cont input:focus ~ label,
.stars-cont .vote-reset + label {
  color: #666;
}

.stars-cont input:hover + label,
.stars-cont input:focus + label {
  color: #e3c903;
}

.stars-cont .vote-reset:hover + label,
.stars-cont .vote-reset:focus + label,
.stars-cont .vote-reset[checked="true"] + label {
  color: #ff2d21;
}

custom-vote button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  width: 10rem;
  margin-top: .4rem;
}

custom-vote button:not(:disabled) {
  color: #fff;
  border: 1px solid #0b4f26;
  background-color: #0b4f26;
}

custom-vote button:not(:disabled):hover,
custom-vote button:not(:disabled):focus {
  border: 1px solid #117438;
  background-color: #117438;
}

custom-vote button svg {
  vertical-align: middle;
  width: 1.25rem;
  height: auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
